body{
  text-align: center;
}

header{
  background-color: darkgray;
}

h1{
  margin-bottom: 3%;
  color: #333333;
}

input{
  width: 30%;
  border-color: #333333;
  border-top: none;
  border-left: none;
  border-right: none;
}

.card-text-center{
  border: solid;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
